.contacts {
  text-align: center;
  position: relative;
  background: $bg-color url("../img/cloud.png") no-repeat center / cover;
  &__flex {
    margin-bottom: 122px;
    padding: 300px 0 0;
    overflow: hidden;
    @include screen-991 {
      padding: 20px 0;
      margin: 0;
    }
  }
  &__container {
    width: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    @include screen-991 {
      display: none;
    }
  }
  &__request {
    width: 505px;
    height: 500px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 23.5%;
    z-index: 3;
    text-align: center;
    margin-top: -250px;
    margin-left: -252.5px;
    background: url(../img/let.png) no-repeat center / cover;
    @include screen-991 {
      height: auto;
      margin: 0 auto;
      position: relative;
      left: 0;
      top: 0;
    }
    &.animate-cont {
      animation: ani 1.5s cubic-bezier(0, 0, 1, 1);
    }
  }
  &__caption {
    padding-top: 50px;
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 30px
  }
  &__info {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 18px
  }
  &__top {
    margin-bottom: -138px;
  }

  &__icon {
    &--open {
      position: relative;
      z-index: 2;
    }
  }
  &__icon {
    &--close {
      display: none;
    }
  }
  &__flap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75%;
    transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
    transition: transform 0.25s 0.5s, z-index 0s 0.5s;
    transition: transform 0.25s 0.5s, z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
    transform-origin: top center;
    backface-visibility: visible;
    background: #e97d39;
    z-index: 4;
    clip-path: polygon(30% 35%, 50% 56%, 94% 8%, 101% 0%, -1% 0%);
  }
  &__flap--color {
    transition: 1s;
    background: #fdb646;
  }

  .sign-off {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 20px;
    font-family: cursive;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  &__map {
    width: 50%;
    height: 310px;
    margin-bottom: 140px;
    border: 4px solid $main-color;
    @include screen-991 {
      width: 100%;
    }
    @include screen-480 {
      margin-bottom: 30px;
    }
  }
  &__form {
    display: flex;
    position: relative;
    z-index: 2;
    padding: 0 30px;
    * {
      margin: 10px 0;
    }
  }
  &__send {
    text-align: center !important;
    margin: 10px auto;
    padding: 12px !important;
    cursor: pointer;
    background: $bg-color;
    border: none;
    border-radius: 30px;
    color: $text-color;
    &:hover {
      background: #06abde;
    }
  }
  input {
    text-align: left;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #efefef;
    padding: 5px 15px;
    &:focus, &:active {
      border-bottom: 1px solid $main-color;
    }
  }
  &__message {
    margin-top: 20px !important;
    text-align: left;
    border: 1px solid #efefef;
    background: #fff7e9;
    padding: 5px 15px;
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
      text-align: left;
    }
  }
  &__forest {
    width: 100%;
  }
}

@keyframes ani {
  from {
    top: 23.5%;
  }

  45% {
    z-index: 3;
  }

  50% {
    top:3%;
    height: 500px;
  }
  90% {
    opacity: 1;
  }

  to {
    height: 470px;
    top: 35%;
    opacity: 0.5;
    z-index: 1;
  }
}

.js-letter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75%;
  transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
  transition: transform 0.25s 0.5s, z-index 0s 0.5s;
  transition: transform 0.25s 0.5s, z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  background: #e97d39;
  z-index: 0;
  clip-path: polygon(30% 35%, 50% 56%, 94% 8%, 101% 0%, -1% 0%);
  transform:rotateX(-180deg);
}

.envelope {
  width: 600px;
  height: 350px;
  position: relative;
  border-top: 1px solid #ffb98d;
  background: #d87435;
  border-radius: 0 0 30px 30px;
  &__answer {
    display: none;
    position: relative;
    z-index: 999;
    padding: 31px 47px;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 36px;
    background: #f24841;
    color: $text-color;
  }
}
.envelope__check {
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  cursor: pointer;
}
.envelope__check:checked ~ .envelope__flap {
  transition: z-index 0s 0.25s, -webkit-transform 0.25s 0s;
  transition: transform 0.25s 0s, z-index 0s 0.25s;
  transition: transform 0.25s 0s, z-index 0s 0.25s, -webkit-transform 0.25s 0s;
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  z-index: 0;
}
.envelope__check:checked ~ .envelope__letter {
  -webkit-transform: translateY(-75%);
  transform: translateY(-75%);
  transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.25s;
  transition: transform 0.25s 0.25s, z-index 0s 0.5s;
  transition: transform 0.25s 0.25s, z-index 0s 0.5s, -webkit-transform 0.25s 0.25s;
  z-index: 5;
}
.envelope__check:checked ~ .envelope__letter .letter__content:nth-child(2),
.envelope__check:checked ~ .envelope__letter .letter__content:nth-child(3) {
  transition: -webkit-transform 0.25s 0.5s;
  transition: transform 0.25s 0.5s;
  transition: transform 0.25s 0.5s, -webkit-transform 0.25s 0.5s;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.envelope__flap {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 75%;
  transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
  transition: transform 0.25s 0.5s, z-index 0s 0.5s;
  transition: transform 0.25s 0.5s, z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #fdb646;
  z-index: 4;
  clip-path: polygon(30% 35%, 50% 56%, 94% 8%, 101% 0%, -1% 0%);
}
.envelope__flap--inside {
  background: #e97d39;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.envelope__back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: #efc75e;
  clip-path: polygon(50% 41%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 20% 17%);
  border-radius: 0 0 30px 30px;
}
.envelope__back:after {
  height: 100%;
  width: 100%;
  background: #e8c05a;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(100% 0%, 100% 100%, -18% 100%, 87% 10%);
  border-radius: 0 0 30px 30px;
}
.envelope__letter {
  height: 90%;
  width: 80%;
  z-index: 1;
  position: absolute;
  left: 10%;
  top: 5%;
  transition: z-index 0s 0.25s, -webkit-transform 0.25s 0.25s;
  transition: transform 0.25s 0.25s, z-index 0s 0.25s;
  transition: transform 0.25s 0.25s, z-index 0s 0.25s, -webkit-transform 0.25s 0.25s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}