.footer {
  background: #000;
  &__link {
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 14px;
    color: $text-color;
    &:hover {
      transition: 0.5s;
      color: $main-color;
    }
  }

  &__logo {
    @extend %flex;
    p {
      width: 140px;
      padding: 0;
      margin: 0;
      line-height: 30px;
      font-family: 'Gotham Pro';
      font-size: 32px;
      color: $text-color;
    }
    span {
      color: $main-color;
    }
    svg {
      width: 40px;
    }
    @include screen-480 {
      margin: 0 auto;
    }
  }

  &__order {
    width: 182px;
    padding: 11px 0;
    border-radius: 30px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    color: $text-color;
    @include screen-480 {
      margin: 20px auto 0;
    }
    &:hover {
      color: $text-color;
    }
  }
  &__nav {
    @include screen-991 {
      display: none;
    }
  }
}