.header {
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  &__link {
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 14px;
    color: #191919;
    &:hover {
      transition: 0.5s;
      color: $main-color;
    }
  }

  &__logo {
    @extend %flex;
    h1 {
      width: 140px;
      padding: 0;
      margin: 0;
      line-height: 30px;
      text-transform: uppercase;
      font-family: 'Gotham Pro';
      font-size: 32px;
      color: #191919;
    }
    span {
      color: $main-color;
    }
    svg {
      width: 40px;
    }
  }

  &__nav {
    @include screen-991 {
      display: none;
    }
  }

  &__order {
    width: 182px;
    padding: 11px 0;
    border-radius: 30px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    background: $main-color;
    color: $text-color;
    @include screen-991 {
      display: none;
    }
    &:hover {
      color: $text-color;
    }
    &--adaptive {
      display: block;
      margin: 20px auto 0;
      a{
        color: $text-color;
      }
    }
  }

  .adaptive-menu {
    display: none;
    cursor: pointer;
    @include screen-991 {
      display: block;
      text-align: right;
    }
    &__icon {
      &-close, &-menu {
        width: 40px;
      }
    }
    &__menu-top {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    &__full-menu {
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      text-align: center;
      padding: 20px;
      z-index: 9999;
      box-sizing: border-box;
      background: $text-color;
      overflow: auto;
    }
    &__close-menu {
      text-align: right;
    }
    &__link {
      display: block;
      padding: 18px;
      font-size: 26px;
      font-family: $font-gotham;
      text-transform: uppercase;
      color: #000;
      &:hover {
        background: $bg-color;
        color: $text-color;
      }
    }
    img {
      outline: none;
      &:focus, &:active {
        outline: none;
      }
    }
  }
  .container {
    @include screen-991 {
      max-width: 100%;
    }
  }
}