.info {
  padding: 20px;
  background: #191002;
  @include screen-480 {
    padding: 10px;
  }
  &__mail, &__phone, &__address {
    color: $text-color;
    margin: 0;
    padding: 10px 0 10px 50px;
    &:hover {
      color: $main-color;
    }
  }
  &__mail {
    background: url("../img/letters.svg") no-repeat center left / 32px;
  }
  &__phone {
    background: url("../img/smartphone.svg") no-repeat center left / 32px;
  }
  &__address {
    background: url("../img/map-location.svg") no-repeat center left / 32px;
  }
  .container {
    @include screen-991 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
}