.portfolio {
  text-align: center;
  padding: 50px 0 30px;
  &__caption {
    @extend %caption;
  }
  .carousel-inner {
    padding: 20px 0;
  }
  .carousel.fade{
    opacity: 1;
  }
  .carousel.fade .item{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .5s;
  }
  .carousel.fade .item.active{
    position: relative;
    opacity: 1;
  }
  &__title {
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: $main-color;
    @include screen-991 {
      font-size: 26px;
      line-height: normal;
    }
  }
  &__type {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__purpose {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
  }
  &__info {
    width: 400px;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 8%;
  }
  .carousel-control-prev-icon {
    background: url("../img/left-arrow.svg") no-repeat center / 18px;
  }
  .carousel-control-next-icon {
    background: url("../img/right-arrow.svg") no-repeat center / 18px;
  }
  .carousel-control-next {
    left: 30%;
    @include screen-991 {
      right: 0;
      left: 92%;
      @include screen-480 {
        left: 93%;
      }
    }
  }
  .carousel-indicators {
    bottom: 0;
    @include screen-991 {
      position: relative;
      bottom: -10px;
    }
    li {
      width: 20px;
      height: 20px;
      border: 4px solid #dcdcdc;
      border-radius: 50%;
    }
    .active {
      border: 4px solid $bg-color;
    }
  }
  &__want {
    display: block;
    width: 182px;
    padding: 12px 0;
    margin: 30px auto 0;
    text-transform: uppercase;
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 14px;
    border-radius: 30px;
    background: $bg-color;
    color: $text-color;
    &:hover {
      transition: 0.5s;
      background: #319cff;
      color: $text-color;
    }
  }
  &__more {
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 14px;
    color: $bg-color;
    &:hover {
      transition: 0.5s;
    }
  }
  .d-block {
    @include screen-991 {
      width: 300px;
      margin-top: 30px;
    }
  }
  &__content {
    @include screen-991 {
     display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

