.price {
  padding: 60px 0;
  background: $bg-color url("../img/bg-pr.png") no-repeat top center / cover;
  &__caption {
    @extend %caption;
    color: $text-color;
  }
  &__link {
    display: block;
    text-align: center;
    margin: 20px auto 37px;
    padding: 11px 0;
    font-size: 14px;
    font-family: $font-roboto;
    font-weight: 400;
    background: $text-color;
    color: #378abd;
    border-radius: 30px;
    @include screen-991 {
      width: 180px;
    }
    &:hover {
      transition: 0.5s;
      box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.18);
    }
  }

  &__content {
    background: $text-color url(../img/line.png) no-repeat 130px 315px / 85%;
    @include screen-991 {
      background: $text-color;
    }
  }
  &__item {
    height: 370px;
    &:first-child {
      background: url("../img/step1.png") no-repeat center / 260px;
      p {
        top: 140px;
      }
    }
    &:nth-child(2) {
      background: url("../img/step2.png") no-repeat center / 260px;
      p {
        top: 135px;
      }
    }
    &:nth-child(3) {
      background: url("../img/step3.png") no-repeat center / 260px;
      p {
        top: 140px;
      }
    }
    &:nth-child(4) {
      background: url("../img/step4.png") no-repeat center / 260px;
      p {
        top: 140px;
      }
    }
    &:nth-child(5) {
      background: url("../img/step5.png") no-repeat center / 260px;
      p {
        top: 135px;
      }
    }
    &:nth-child(6) {
      background: url("../img/step6.png") no-repeat center / 260px;
      p {
        top: 130px;
      }
    }
    p, h3 {
      width: 200px;
      text-align: center;
      margin: 0 auto;
      padding-left: 2px;
      padding-right: 2px;
      position: relative;
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 18px;
    }
  }
  &__title {
    top: 90px;
    color: $text-color;
  }
  &__text {
    font-size: 13px !important;
    line-height: 1.2;
  }
}