.ready {
  background: url("../img/cloud-form.png") no-repeat center / cover;
  &__content {
    height: 418px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    @include screen-991 {
      height: 500px;
    }
    &.animate-form {
      animation: disappear 1.5s cubic-bezier(0, 0, 1, 1);
      animation-iteration-count: 1;
    }
  }
  &__caption {
    position: relative;
    top: 20px;
    @extend %caption;
    font-size: 24px;
  }
  &__form {
    display: flex;
    position: relative;
    z-index: 2;
    padding: 0 30px;
    * {
      margin: 10px 0;
    }
  }
  &__send {
    margin: 10px auto;
    padding: 10px 12px !important;
    cursor: pointer;
    background: $main-color url("../img/paper-plane.svg") no-repeat 140px center / 24px;
    border: none;
    border-radius: 20px;
    color: $text-color;
    @include screen-991 {
      width: 180px;
    }
    &:hover {
      background: #fca61d url("../img/paper-plane.svg") no-repeat 140px center / 24px;
    }
  }
  input {
    text-align: left;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #efefef;
    padding: 5px 15px;
    &:focus, &:active {
      border-bottom: 1px solid $main-color;
    }
  }
  &__message {
    margin-top: 20px !important;
    text-align: left;
    border: 1px solid #efefef;
    background: #f5fffa;
    padding: 5px 15px;
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
      text-align: left;
    }
  }
  &__icon {
    width: 200px;
    position: absolute;
    fill: #fff;
    opacity: 0;
    &.animate-plane {
      animation: fly 1.6s cubic-bezier(0, 0, 1, 1);
      -webkit-animation: fly 1.6s cubic-bezier(0, 0, 1, 1);
    }
  }
  #animation {
    position: relative;
    text-align: center;
    overflow: hidden;
    background: $text-color;
    @include screen-991 {
      width: 66%;
      margin: 0 auto;
    }
    @include screen-480 {
      width: 100%;
    }
  }
  .frame {
    width: 440px;
    height: 320px;
    margin: 0 auto;
    border: 1px solid transparent;
    background: url(../img/new.png) no-repeat left top;
    @include screen-991 {
      height: auto;
      width: 100%;
    }
    &.animate-pm {
      animation: frame-animation 1s steps(6) infinite;
      animation-duration: 1.8s !important;
    }
  }
  &__smile {
    width: 236px;
    display: none;
    margin: 0 auto;
  }
}


@keyframes fly {
  from {
    left: 10%;
    bottom: 20%;
    opacity: 0;
  }

  1% {
    opacity: 0.1;
  }

  10% {
    margin-left: -4em;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    left: 140%;
    margin-left: -26em;
    bottom: 100%;
  }
}

@keyframes frame-animation { 0% { background-position: 0 0; } 100% { background-position: -2740px 0; } }









