.services {
  text-align: center;
  background: #f8f8f8;
  .container {
    padding-top: 70px;
    padding-bottom: 40px;
    @include screen-480 {
      padding-top: 40px;
    }
  }
  &__item {
    height: 474px;
    border-radius: 50px;
    @include screen-767 {
      height: 360px;
    }
    &:hover {
      transition: 0.5s;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
      .services__btn {
        display: inline-block;
      }
      .services__icon {
        transition: 0.5s;
        background-color: $bg-color;
      }
    }
  }
  &__caption {
    @extend %caption;
    margin-bottom: 50px;
  }
  &__icon {
    width: 179px;
    height: 179px;
    margin: 53px auto 45px;
    @include screen-991 {
      width: 150px;
      height: 150px;
      margin: 30px auto 20px;
    }
    @include screen-480 {
      width: 140px;
      height: 140px;
      margin: 20px auto;
    }
    &--1 {
      background: $main-color url("../img/edit site.svg") no-repeat center / 122px;
      @include screen-991 {
        background-size: 100px;
      }
    }
    &--2 {
      background: $main-color url("../img/visitka.svg") no-repeat center / 110px;
      @include screen-991 {
        background-size: 90px;
      }
    }
    &--3 {
      background: $main-color url("../img/napolnenie sayta.svg") no-repeat center / 110px;
      @include screen-991 {
        background-size: 90px;
      }
    }
    &--4 {
      background: $main-color url("../img/content.svg") no-repeat center / 104px;
      @include screen-991 {
        background-size: 86px;
      }
    }
  }
  &__name {
    text-transform: uppercase;
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 14px;
  }
  &__btn {
    width: 182px;
    display: none;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 30px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    background: $main-color;
    color: $text-color;
    @include screen-480 {
      margin-top: 0;
    }
    &:hover {
      color: $text-color;
    }
  }
  &__text {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
  }
}