$main-color: #ffb136;
$text-color: #fff;
$bg-color: #1bc1f5;
$font-roboto: "Roboto";
$font-gotham: 'Gotham Pro';

@mixin screen-991 {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin screen-767 {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin screen-480 {
  @media screen and (max-width: 480px) {
    @content;
  }
}

%flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

%caption {
  text-align: center;
  text-transform: uppercase;
  font-family: $font-roboto;
  font-weight: 300;
  font-size: 36px;
  @include screen-991 {
    font-size: 28px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

input, textarea {
  outline: none;
  &:focus, &:active {
    outline: none;
  }
}

::-webkit-input-placeholder {color:#b4b4b4;text-align: center}
::-moz-placeholder          {color:#b4b4b4;text-align: center}/* Firefox 19+ */
:-moz-placeholder           {color:#b4b4b4;text-align: center}/* Firefox 18- */
:-ms-input-placeholder      {color:#b4b4b4;text-align: center}