.slider {
  .carousel-inner {
    .carousel-item {
      &:first-child {
        background: url("../img/snow4.jpg") no-repeat center / cover;
      }
      &:nth-child(2) {
        background: url("../img/snow3.jpg") no-repeat center / cover;
      }
      &:nth-child(3) {
        background: url("../img/snow1.jpg") no-repeat center / cover;
      }
      &:nth-child(4) {
        background: url("../img/snow2.jpg") no-repeat center / cover;
      }
    }
  }
  .col-md-12 {
    @include screen-991 {
      flex-wrap: wrap;
    }
  }
  .carousel-indicators {
    bottom: 40px;
    margin: 0;
    padding: 57px 0;
    background: $text-color;
    @include screen-991 {
      position: relative;
      padding: 20px 0;
      bottom: 0;
    }
    li {
      width: 25%;
      height: auto;
      margin-left: 0;
      margin-right: 0;
      text-indent: unset;
      display: block;
      text-align: center;
      cursor: auto;
      @include screen-991 {
        width: 50%;
        margin-top: 20px;
        @include screen-480 {
          width: 100%;
        }
      }
      &:hover {
        .slider__description, .slider__link {
          display: block;
          position: relative;
          transition: 0.5s;
          background: $text-color;
        }
        .slider__description {
          @include screen-991 {
            display: none;
          }
        }
      }
      p {
        margin: 0;
      }
      &:first-child {
        .slider__link {
          background: #319cff;
          &:hover {
            transition: 0.5s;
            background: #2c8be2;
            color: $text-color;
          }
        }
      }
      &:nth-child(2) {
        .slider__link {
          background: #ff6031;
          &:hover {
            transition: 0.5s;
            background: #eb582d;
            color: $text-color;
          }
        }

      }
      &:nth-child(3) {
        .slider__link {
          background: #19b590;
          &:hover {
            transition: 0.5s;
            background: #0ca480;
            color: $text-color;
          }
        }
      }
      &:nth-child(4) {
        .slider__link {
          background: #ffb136;
          &:hover {
            transition: 0.5s;
            background: #fca61d;
            color: $text-color;
          }
        }
      }
    }
  }
  .container {
    @include screen-991 {
      max-width: 100%;
    }
  }
  .col-md-12 {
    margin: 0 auto;
  }
  &__content {
    height: 88vh;
    position: relative;
    align-items: flex-start !important;
    @include screen-991 {
      height: auto;
      padding: 20px 10px !important;
      align-items: center !important;
    }
    &--1 {
      padding-top: 60px;
      @include screen-991 {
        padding: 0;
      }
      h2 {
        text-transform: uppercase;
        font-size: 72px;
        line-height: 1;
        @include screen-991 {
          font-size: 7vw;
        }
      }
      span {
        font-size: 110px;
        @include screen-991 {
          font-size: 11vw;
        }
      }
      .d-block {
        width: 100%;
        @include screen-480 {
          width: 40%;
        }
      }
    }
    &--2 {
      padding-top: 70px;
      @include screen-991 {
        font-size: 7vw;
      }
      h2 {
        text-transform: uppercase;
        line-height: 1;
      }
      .slider__part {
        &--1 {
          font-size: 82px;
          @include screen-991 {
            font-size: 7vw;
          }
        }
        &--2 {
          font-size: 100px;
          @include screen-991 {
            font-size: 9vw;
          }
        }
        &--3 {
          font-size: 90px;
          @include screen-991 {
            font-size: 8vw;
          }
        }
      }
      .d-block {
        width: 50%;
        position: absolute;
        right: 0;
        top: 120px;
        @include screen-991 {
          width: 40%;
          position: absolute;
          right: 0;
          top: 40px;
        }
      }
    }
    &--3 {
      padding-top: 55px;
      h2 {
        line-height: 1.4;
        text-transform: uppercase;
        font-size: 72px;
        @include screen-991 {
          font-size: 7vw;
          line-height: normal;
        }
      }
      .d-block {
        flex: 3 !important;
        @include screen-480 {
          width: 50%;
        }
      }
    }
    &--4 {
      padding-top: 55px;
      @include screen-991 {
        padding: 0;
      }
      h2 {
        padding-top: 70px;
        text-transform: uppercase;
        font-size: 72px;
        @include screen-991 {
          font-size: 7vw;
          padding: 0;
        }
      }
      .d-block {
        flex: 4 !important;
        @include screen-480 {
          width: 52%;
        }
      }
    }
  }
  &__text {
    flex: 2;
    font-family: $font-gotham;
    color: $text-color;
  }
  &__img {
    display: block;
    margin: 0 auto;
  }
  &__title {
    display: block;
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    @include screen-991 {
      font-size: 14px;
    }
  }
  &__price {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    @include screen-991 {
      font-size: 14px;
    }
  }
  &__description {
    display: none;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
  }
  .carousel.fade{
    opacity: 1;
  }
  .carousel.fade .item{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .5s;
  }
  .carousel.fade .item.active{
    position: relative;
    opacity: 1;
  }

  &__link {
    display: none;
    padding: 14px 61px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    border-radius: 30px;
    color: $text-color;
    @include screen-991 {
      width: 100%;
      padding: 14px 0;
    }
  }
}

.carousel-inner img {
}



.slider__active {
  padding: 20px 15px;
  border-radius: 50px;
  background-color: #fff !important;
  opacity: 1 !important;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, .11);
  width: 245px;
  margin: -250px auto -20px;
  height: 376px !important;
  @include screen-991 {
    height: 250px !important;
    padding: 10px;
    margin: -150px auto -20px;
  }
}