.why-us {
  text-align: center;
  background: $text-color;
  padding-bottom: 40px;
  &__caption {
    @extend %caption;
    padding: 50px 0 40px 0;
  }
  &__name {
    text-transform: uppercase;
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 14px;
  }
  &__btn {
    width: 182px;
    display: none;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 30px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    background: $main-color;
    color: $text-color;
    &:hover {
      color: $text-color;
    }
  }
  &__text {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
  }
  &__icon {
    width: 101px;
    height: 101px;
    margin: 0 auto 20px;
    background: $main-color;
  }
}