@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Black.eot');
  src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Black.woff2') format('woff2'),
  url('../fonts/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro-Black.ttf') format('truetype'),
  url('../fonts/GothamPro-Black.svg#GothamPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

@import "settings";
@import 'bootstrap';
@import "header";
@import "slider";
@import "portfolio";
@import "ready";
@import "why-us";
@import "price";
@import "services";
@import "contacts";
@import "info";
@import "footer";



